.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: .6rem 2rem;
  background-color: var(--bg);

  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom:1px solid rgba(0,0,0,0.2) ;

}

.logo {
  font-size: 1rem;
  font-weight: bold;
  color: var(--dark);
  display: flex;
  align-items: center;
  gap: 10px;
  cursor:context-menu;
}

.links {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.link {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  transition: 0.3s ease;
  padding: 5px
}

.link:hover {
  color: var(--accent);
  /* background-color: aliceblue; */
}

.orderBtn {
  background-color: var(--accent);
  color: white;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.3s ease;
}

.orderBtn:hover {
  opacity: 0.85;
}


